version: "3.8"
services:
  mongo:
    image: mongo
    container_name: leaseanddesist-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./Backend
    container_name: leaseanddesist-backend
    ports:
      - "5050:5050"
    env_file:
      - .env.docker
    depends_on:
      - mongo

  client:
    build: ./client
    container_name: leaseanddesist-client
    ports:
      - "3000:80"
    depends_on:
      - backend

volumes:
  mongo_data:
